/Projek_Akhir/tabel_ujian/build/
/Projek_Akhir/tabel_ujian/dist/
/Projek_Akhir/tabel_ujian/nbproject/private/
/Projek_Akhir/tabel_peserta/nbproject/private/
/Projek_Akhir/tabel_peserta/build/
/Projek_Akhir/tabel_soal_bahasa_indonesia/tabel_soal_bahasa_indonesia/nbproject/private/
/Projek_Akhir/tabel_soal_bahasa_indonesia/tabel_soal_bahasa_indonesia/build/
/Projek_Akhir/tabel_soal_bahasa_indonesia/nbproject/private/
/Projek_Akhir/tabel_soal_bahasa_indonesia/build/
/Projek_Akhir/tabel_peserta/dist/
